RUN_ADDRESS="localhost:8080"
DATABASE_URI="postgresql://postgres:postgres@postgres/praktikum?sslmode=disable"
JWT_SECRET_KEY="some-secret-key"
LOG_LEVEL="DEBUG" // DEBUG / INFO / WARN / ERROR / OFF
LOG_PATH="logs/server.log"
ENABLE_HTTPS="0"